@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --blue-svg-color: #0088ff;
}

* {
    font-family: "Poppins";
    margin: 0;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 1.7em;
    background-color: var(--blue-svg-color)
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: darkblue;
    transition: ease-in 0.2s;
    scale: 1.1;
}

.top-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blueberry-img {
    padding-top: 20px;
    width: 30%;
}

.title {
    text-align: center;
    font-size: 3em;
    transition: ease-in 0.2s;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 15px;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    border: 2px solid var(--blue-svg-color);
}

.heading-text {
    font-size: 2.5em;
}

.small-text {
    font-size: 1.5em;
}


.svg-bottom {
    position: fixed;
    bottom: 0;
}

@media screen and (max-width:1400px) {
    .blueberry-img {
        width: 50%;
    }
    .container {
        width: 50%;
    }
}


@media screen and (max-width:1100px) {
    .blueberry-img {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .blueberry-img {
        width: 70%;
    }
}